.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.25rem;
}

.form-control input:focus {
  outline: none;
  background: #fad0ec;
  border-color: #8b005d;
}

.hidden{
  display: none;
}
.red {
  color: red; 
}
.red-bordered{
  border: 2px solid red!important;
}
.error-msg{
  font-size: 0.7rem;
  font-weight: 600;
}